*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
# Ignore from local build
settings.ini
Gemfile.lock
assets/img/2022-08-26-first-word-doc/media/image1.jpg
posts/2022-08-20-JupyterNotebookTest.md
posts/2022-08-22-BashHacks.md
posts/2022-08-23-AnatomyOfPython.md
posts/2022-08-24-FastpagesHacks.md
posts/2022-08-26-first-word-doc.md
posts/2022-08-29-TP120-python_lists.md
posts/2022-09-07-CodeORG-Hacks.md
posts/2022-09-21-TT130-js_tutorial.md
posts/2022-10-03-AP-error_testing.md
posts/2022-10-06-PBL-python_rapidapi.md
posts/2022-11-18-bashKernelTestwk13.md
posts/2022-11-18-javascriptTestwk13.md
posts/2022-11-18-pythonTestwk13.md
posts/2022-11-28-studentTeaching1-2.md
posts/2022-11-29-studentTeaching3-4.md
posts/2022-12-01-studentTeaching5-6-7.md
posts/2022-11-30-AP-logicAndAlgos.md
posts/2022-12-01-studentTeaching5thru7.md
posts/2022-12-05-studentTeaching8-10.md
posts/2022-12-08-studentTeaching12-13.md
posts/2022-12-12-studentTeaching14-15.md
posts/2022-12-13-studentTeaching16.md
posts/2022-12-14-studentTeaching17-18.md
posts/2022-12-16-studentTeachingVocab.md
posts/2023-01-10-PBL-model.md
posts/2023-01-12-PBL-view.md
posts/2023-01-17-PBL-database.md
posts/2023-01-19-PBL-control.md
posts/2023-03-07-AP-unit2-2.md